.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #111;
  color: white;
  overflow-x: hidden;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;

  .content {
    padding: 15px;
  }

  .resizer {
    width: 5px;
    background-color: #333;
    cursor: col-resize;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}